<!doctype html>
<title>_local chat</title>
<body>
    <p>
{% if name %}
  _hello {{ name }}.
{% else %}
  _hello.
{% endif %}
    </p>

</div>

<div id='allmessages'> 
</div> 


<form action="" method="post"> 
    <p> 
    <input type="text" name="newmessage" id='newmessage'>
    </p> 
    <p>
        <input type="submit" value="_submit">
    </p>
</form> 

    <script>
        var input=document.getElementById('newmessage');
        input.focus(); 
        input.select(); 

        
    function updateMessages(){
        var xhttp= new XMLHttpRequest(); 
        xhttp.onreadystatechange = function(){
            if(this.readyState == 4 && this.status==200){
                document.getElementById('allmessages').innerHTML = this.responseText
            }
        }
        xhttp.open("GET", 'getmessages', true); 
        xhttp.send(); 

    }

    window.setInterval(updateMessages, 5000) ;
    </script>
</body> 

